.github/
.vscode/
docs/
resources/docs/
src/
coverage/
.nyc_output/
.cache/
.idea/
.DS_Store
*.log
*.tmp
*.temp
*.ts
!*.d.ts
tsconfig.json
.eslintrc.json
.npmignore
pnpm-lock.yaml
*.vsix
out/**/*.map
out/test/
